body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    background-color: #000000;
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

article {
    margin-bottom: 40px;
}

.recent-post-item a {
    line-height: 1.2rem;
}

h2 {
}

a {
    color: #FFB6C1;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

#anime {
    display: inline;
    position: absolute;
}